html,
body,
header,
#Intro {
    height: 100%;
}

#navbar {
    background-color: #272e36;
    
}

#collapseicon {
    color: white;
}

#active {
    color: white;
}
body{
    background-image:  url(images/grayback.jpg);
    background-size: cover;
    overscroll-behavior: none;
}

/* linear-gradient(180deg, #14101f 15%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), */

#nameinfo {
    margin: 0;
    padding-top: 5%;
    padding-left: 5%;
}

#name {
    color: gray;
    font-size: 20px;
}

#school {
    color: maroon;
}

#major {
    color: gray;
}

#iconright{
    float: right;
    display: inline;
}

#aboutMe{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30); 
    padding-left: 50px;
    /* padding-right: 50px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.secondary-text{
    color: white;
  }

#aboutMe h1{
    color: white;
}

#aboutMe p{
    color: white;
    margin-bottom: 0;
}


/* Image background */

#maxheight{
    max-height: 500px;
}

#cover{
    background-image: linear-gradient(0deg, #4c5c69 10%, rgba(128, 0, 0, 0) 40%, rgba(128, 0, 0, 0) 40%), url(images/city.jpg);
    padding-top: 30vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 100%;
    background-position: center;
}

parallax-home{
    background-image: url(images/city.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.test{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
html{
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

.eInfo,
#major {
    font-size: 20px;
}


.footer2 {
    color: #777;
    text-decoration: none;
    font-size: 25px;
    padding: 5px
}

.card.mb-3{
    border: none;
}
.text-white {
    color: var(--white);
    margin-bottom: 0px !important;
  }

h5{
    padding-top: 1.25rem;
}

.op-card{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.op-card2{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.op-card3{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.op-card4{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
}
.op-card-small{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
